# Dependencies
node_modules
*/node_modules

# Backend folders to exclude
# backend/node_modules/*
backend/models/*
backend/uploads/*
backend/scripts/*
backend/logs/*
backend/services/python/*

*/projects.db

# Python virtual environment
# backend/services/python/venv/
.env
.env.local